asgiref==3.9.1
click==8.2.1
django==5.2.5
iniconfig==2.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
pluggy==1.6.0
pygments==2.19.2
pytest==8.4.1
shellingham==1.5.4
sqlparse==0.5.3
typer==0.16.0
typing-extensions==4.14.1
